@import "variables";
@import "animation";
@import "thanks";
body {
  font-family: $font;
  height: 100vh;
  position: relative;
  overflow: hidden;
  transition: filter 0.2s;
  &.menu-open {
    overflow: hidden;
    main {
      section {
        filter: blur(3px);
        z-index: -1;
      }
    }
    header {
      filter: blur(2px);
     
    }
    #page-container {
      z-index: -1;
    }
  }
}

#to-portrait-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  display: none;
  .cont {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img {
      width: 200px;
      height: 200px;
    }
    h2 {
      color: #ffffff;
      transform: translateY(-30px);
    }
  }
}

header {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  z-index: 10;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  .logo {
    padding: 10px 0;
    img {
      height: 60px;
    }
  }
  .menu {
    & > .row {
      height: 100%;
      .menu-items {
        display: flex;
        padding: 10px 0;
        a {
          display: inline-block;
          margin: auto 5px 0 5px;
          padding: 0 10px;
          color: $blue;
          text-decoration: none;
          font-size: 1.2rem;
          text-transform: uppercase;
          position: relative;
          &::after {
            content: " ";
            position: absolute;
            width: 100%;
            height: 10px;
            background-color: $red;
            left: 0;
            bottom: 0;
            margin-bottom: -15px;
            transition: 0.2s;
            transform: scaleX(0);
          }
          &.active,
          &:hover {
            &::after {
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }
  .cabinet-link {
    color: $red;
    text-decoration: underline;
    font-size: 0.8em;
    font-weight: 500;
    padding-bottom: 10px;
    margin: 0 10px;
    &:hover {
      text-decoration: underline;
    }
  }
  .language-selector {
    height: 100%;
    background-color: $red;
    padding: 0 10px 10px 10px;
    display: flex;
    align-items: flex-end;
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
    transition: 0.2s;
    &:hover {
      background-color: darken($red, 10%);
    }
  }
}

.mobile-menu-btn {
  position: absolute;
  z-index: 120;
  top: 3px;
  right: 15px;
  &-cont {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 100px;
    background-color: $blue;
    .burger-btn {
      width: 30px;
      height: 20px;
      cursor: pointer;
      margin: auto;
      transition: all 0.3s ease-out;
      position: relative;
      z-index: 121;
      .burger {
        display: block;
        width: 30px;
        height: 2px;
        position: relative;
        top: 8px;
        background-color: #ffffff;
        transition: background-color 0.3s ease-out;
        &::after {
          position: relative;
          display: block;
          content: " ";
          top: 6px;
          width: 30px;
          height: 2px;
          background-color: #ffffff;
          transition: transform 0.2s 0s, top 0.2s 0.2s;
        }
        &::before {
          position: relative;
          display: block;
          content: " ";
          bottom: 8px;
          width: 30px;
          height: 2px;
          background-color: #ffffff;
          transition: transform 0.2s 0s, bottom 0.2s 0.2s;
        }
        &.active {
          background-color: transparent;
          &::before {
            bottom: 0;
            transform: rotate(45deg);
            transition: bottom 0.2s 0s, transform 0.2s 0.2s;
          }
          &::after {
            top: -2px;
            transform: rotate(-45deg);
            transition: top 0.2s 0s, transform 0.2s 0.2s;
          }
        }
      }
    }
  }
}

#mobile-menu {
  height: 180vh;
  width: 180vh;
  border-radius: 100vh;
  background-color: $blue;
  z-index: 100;
  position: absolute;
  top: 50%;
  right: -180vh;
  transform: translateY(-50%) translateX(-80vw) scale(0);
  transition: 0.3s ease-in-out 0.2s;
  will-change: transform;
  &.menu-open {
    transform: translateY(-50%) translateX(-80vw) scale(1);
  }
  .mobile-menu-cont {
    width: 80vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: right;
    padding-top: 65px;
    .language-picker {
      color: #ffffff;
      background-color: $red;
      padding: 3px 25px 3px 10px;
      display: inline-block;
      text-decoration: none;
      font-size: 2rem;
    }
    .menu {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      a {
        display: block;
        padding-right: 25px;
        color: #ffffff;
        font-size: 2rem;
        text-align: right;
        text-decoration: none;
        margin: 10px 0;
      }
    }
    .personal-cabinet {
      padding-right: 25px;
      margin-top: 30px;
      display: block;
      color: $red;
      font-size: 1.3rem;
    }
  }
}

.full-screen-cont {
  width: 100%;
  height: 100vh;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: transform 1s, filter 0.2s;
  will-change: transform;
}

.next-section {
  transform: translateX(100%);
  z-index: 3;
}

.prev-section {
  transform: translateX(-100%);
  z-index: 3;
}

.active-section {
  transform: translateX(0);
  z-index: 3;
}

.aprev-section {
  transform: translateX(-100%);
}

.anext-section {
  transform: translateX(100%);
}

.section-cont {
  width: 100%;
  height: 100%;
  padding-top: 84px;
  position: relative;
}

main {
  z-index: 1;
}

#home {
  //background-color: #e83e8c;
  background-image: url("../images/home-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  .home-bg {
    position: relative;
    width: 100%;
    height: 100%;
    //img {
    //  height: 100vh;
    //  width: 120vw;
    //  filter: drop-shadow(0 0 30px rgba(0,0,0,0.3));
    //}
  }
  .home-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    .container-fluid {
      height: 100%;
      position: relative;
      .home-title {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 5.5rem;
        font-weight: bold;
        text-transform: uppercase;
        & > div {
          display: flex;
        }
        &.animate {
          .line-1 {
            animation: home-animation-line-1;
            animation-delay: 0.3s;
            animation-duration: 0.5s;
            opacity: 0;
            animation-fill-mode: forwards;
          }
          .line-2 {
            animation: home-animation-line-2-4;
            animation-duration: 0.5s;
            transform-origin: left center;
            will-change: transform;
            transform: scaleX(0);
            animation-fill-mode: forwards;
          }
          .line-3 {
            animation: home-animation-line-3;
            animation-delay: 0.4s;
            animation-duration: 0.5s;
            opacity: 0;
            animation-fill-mode: forwards;
          }
          .line-4 {
            .blue-bg {
              z-index: 9;
              transform: scaleX(0);
              animation: home-animation-line-2-4;
              animation-duration: 0.5s;
              animation-delay: 0.7s;
              transform-origin: left center;
              will-change: transform;
              animation-fill-mode: forwards;
            }
            .red {
              animation: home-animation-line-4-red;
              animation-delay: 0.9s;
              animation-duration: 0.5s;
              opacity: 0;
              animation-fill-mode: forwards;
            }
          }
          .line-5 {
            animation: home-animation-line-3;
            animation-delay: 0.6s;
            animation-duration: 0.5s;
            z-index: 2;
            opacity: 0;
            animation-fill-mode: forwards;
          }
        }
        .red {
          z-index: 5;
          color: $red;
        }
        .blue-bg {
          background-color: $blue;
          color: #ffffff;
          letter-spacing: 5px;
          padding: 0px 30px;
        }
        .line-1 {
          span {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        .line-2 {
          position: relative;
          left: -22%;
          transform: translateX(%);
        }
        .line-3 {
          margin-left: 10%;
        }
        .line-4 {
          position: relative;
          left: -50%;
        }
        .line-5 {
          span {
            margin-left: 37%;
          }
        }
      }
    }
  }
}

#services {
  //background-color: #5bc0de;
  .services-cont {
    height: 100%;
    display: flex;
    align-items: stretch;
    .service-titles {
      background-color: $red;
      height: 100vh;
      position: relative;
      overflow: hidden;
      .service-next-arrow {
        position: absolute;
        width: 150px;
        height: 70px;
        background: url("../images/arrow.svg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        bottom: 110px;
        left: 50%;
        margin-left: -75px;
        cursor: pointer;
        transition: opacity 0.4s;
        pointer-events: all;
        opacity: 1;
        &.animate {
          animation: section-changing-next 0.3s;
        }
        &.hidden {
          opacity: 0;
          pointer-events: none;
        }
      }
      .service-prev-arrow {
        position: absolute;
        width: 150px;
        z-index: 5;
        height: 70px;
        background: url("../images/arrow.svg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        top: 30px;
        left: 50%;
        margin-left: -75px;
        transform: rotate(180deg);
        cursor: pointer;
        transition: opacity 0.4s;
        opacity: 1;
        pointer-events: all;
        &.animate {
          animation: section-changing-prev 0.3s;
        }
        &.hidden {
          pointer-events: none;
          opacity: 0;
        }
      }
      .text-move {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4.4rem;
        color: #ffffff;
        text-align: center;
        text-transform: uppercase;
        transition: top 0.3s ease-in-out 0.2s;
        opacity: 0;
        white-space: nowrap;
        animation: fill 0.2s ease forwards 3.2s;
        fill: #ffffff !important;
        &.active {
          top: 46%;
          opacity: 1;
          fill: #ffffff;
          fill: #ffffff !important;
          svg {
            g path {
              animation: fill 0.2s ease forwards 1.2s;
              opacity: 0;
            }
          }

          path:nth-child(1) {
            stroke-dasharray: 572;
            stroke-dashoffset: 572;
            animation: movetext 1.5s ease forwards;
          }
          path:nth-child(2) {
            stroke-dasharray: 463;
            stroke-dashoffset: 463;
            animation: movetext 1.5s ease forwards 0.3s;
          }
          path:nth-child(3) {
            stroke-dasharray: 463;
            stroke-dashoffset: 463;
            animation: movetext 1.5s ease forwards 0.6s;
          }
          path:nth-child(4) {
            stroke-dasharray: 227;
            stroke-dashoffset: 227;
            animation: movetext 1.5s ease forwards 0.9s;
          }
          path:nth-child(5) {
            stroke-dasharray: 635;
            stroke-dashoffset: 635;
            animation: movetext 1.5s ease forwards 1.2s;
          }
          path:nth-child(6) {
            stroke-dasharray: 604;
            stroke-dashoffset: 604;
            animation: movetext 1.5s ease forwards 1.5s;
          }
          path:nth-child(7) {
            stroke-dasharray: 463;
            stroke-dashoffset: 463;
            animation: movetext 1.5s ease forwards 1.8s;
          }
          path:nth-child(8) {
            stroke-dasharray: 550;
            stroke-dashoffset: 550;
            animation: movetext 1.5s ease forwards 2.1s;
          }
          path:nth-child(9) {
            stroke-dasharray: 552;
            stroke-dashoffset: 552;
            animation: movetext 1.5s ease forwards 2.4s;
          }
          path:nth-child(10) {
            stroke-dasharray: 572;
            stroke-dashoffset: 572;
            animation: movetext 1.5s ease forwards 2.7s;
          }
          path:nth-child(11) {
            stroke-dasharray: 364;
            stroke-dashoffset: 364;
            animation: movetext 1.5s ease forwards 3s;
          }
          path:nth-child(12) {
            stroke-dasharray: 652;
            stroke-dashoffset: 652;
            animation: movetext 1.5s ease forwards 3.3s;
          }
          path:nth-child(13) {
            stroke-dasharray: 572;
            stroke-dashoffset: 572;
            animation: movetext 1.5s ease forwards 3.6s;
          }
          path:nth-child(14) {
            stroke-dasharray: 572;
            stroke-dashoffset: 572;
            animation: movetext 1.5s ease forwards 3.9s;
          }
          path:nth-child(15) {
            stroke-dasharray: 652;
            stroke-dashoffset: 652;
            animation: movetext 1.5s ease forwards 4.2s;
          }
          path:nth-child(16) {
            stroke-dasharray: 552;
            stroke-dashoffset: 552;
            animation: movetext 1.5s ease forwards 4.5s;
          }
          @keyframes movetext {
            0% {
              fill: transparent;
              opacity: 1;
            }
            80% {
              stroke-dashoffset: 0;
              fill: transparent;
              opacity: 1;
            }
            100% {
              stroke-dashoffset: 0;
              fill: #fff !important;
              opacity: 1;
            }
          }
        }
        &.next {
          top: 150%;
          opacity: 1;
        }
        &.prev {
          top: -150%;
          opacity: 1;
        }
        &.anext {
          top: 150%;
        }
        &.aprev {
          top: -150%;
        }
        .adv {
          width: 54px;
        }
      }
    }
    .service-contents {
      height: 92vh;
      position: relative;
      overflow: hidden;
      .service-item {
        width: 100%;
        height: 100%;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        transition: top 0.7s ease-in-out 0.5s;
        transition-delay: 0.3s;
        opacity: 0;
        &.active {
          top: 0;
          opacity: 1;
          // overflow-y: scroll;
          .service-example {
            .project-info {
              transform: translate(0, -50%);
              opacity: 1;
            }
          }
        }
        &.next {
          top: 100%;
          opacity: 1;
        }
        &.prev {
          top: -100%;
          opacity: 1;
        }
        &.anext {
          top: 100%;
        }
        &.aprev {
          top: -100%;
        }
        .service-text {
          padding-top: 20px;
          background-color: #ffffff;
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
          padding-right: 50px;
          position: relative;
          z-index: 5;
          .icon-price {
            display: flex;
            width: 100%;
            img {
              height: 93px;
              margin-right: 30px;
            }
            .price {
              display: flex;
              align-items: flex-start;
              flex-direction: column;
              justify-content: center;
              h3 {
                margin: 0;
                font-size: 2rem;
                font-weight: bold;
                color: $blue;
              }
              h4 {
                margin: 0;
                font-size: 1.5rem;
                color: $red;
                font-weight: 300;
              }
            }
          }
          .service-description {
            margin-top: 30px;
            font-size: 1.2rem;
            height: 75vh;
           overflow-y: scroll;
           &::-webkit-scrollbar{
            display: none;
               }
            ul {
           
              li {
                margin: 10px;
                
              }
            }
          }
        }
        .service-example {
          position: relative;
          z-index: 10;
          padding: 0;
          .project-img {
            width: 100%;
            height: 100%;
            overflow: hidden;
            img {
              height: 100%;
              width: 100%;
            }
          }
          .link-website {
            position: relative;
            z-index: 6000;
            right: 63px;
            bottom: 132px;
            float: right;
            .start-animation {
              animation: swing 2s ease-in-out infinite;
            }
            .btn-click {
              width: 75px;
              height: 75px;
              background-color: rgb(235, 34, 51);
              border-radius: 50%;
              box-shadow: 0px 0px 15px 0px #000;
              position: relative;
              z-index: 3;
              bottom: -32px;
              right: -36px;
              i {
                top: 50%;
                position: absolute;
                padding: 5px;
                transform: translate(-50%, -50%);
                left: 50%;
                color: #ffffff;
                font-size: 2rem;
              }
              @keyframes swing {
                0%{
                  transform: translate(-50%,-50%) scale(1);
                }
                50%{
                  transform: translate(-50%,-50%) scale(1.2);
                }
                100%{
                  transform: translate(-50%,-50%)scale(1);
                }
              }
            }

            .links-bro {
              bottom: 0;

              // position: relative;
              right: 0;
              z-index: 3;
              nav {
                position: relative;
                a {
                  width: 60px;
                  color: #ffffff;
                  height: 60px;
                  border-radius: 20px;
                  box-shadow: 0px 0px 15px 0px #000;
                  background: rgb(235, 34, 51);

                  overflow: hidden;
                  z-index: -1;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  text-decoration: none;
                  position: absolute;
                  right: calc(50% - 30px);
                  top: calc(50% - 70px);
                  z-index: 1;
                  transition: 0.2s;
                }
              }
              .nav-active {
                // transition: .3s all ease-in-out;
                animation: none;

                a {
                  padding-right: 62px;

                  transform: translate(0%, 0%);
                  transition-delay: 0.2s;
                  font-size: 1.2rem;
                  color: #ffffff;
                  height: 60px;
                  width: 250px;
                  border-radius: 20px;
                  span {
                    color: #ffffff;
                    z-index: 8888;
                  }
                  &:hover {
                    background-color: #1f324f;
                    color: #ffffff;
                    z-index: -1;
                  }
                }
              }
            }
          }
          .link-website:hover {
            // width: 100px;
            // height: 100px;
            z-index: 8000;
            transition: 0.3s all ease-in-out;
          }
          .project-info {
            position: absolute;
            top: 50%;
            left: 0;
            max-width: 400px;
            transform: translate(-50%, -50%);
            background-color: #ffffff;
            margin-left: -50px;
            z-index: 10;
            box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
            opacity: 0;
            transition: 0.7s;
            transition-delay: 0.7s;
            &-cont {
              width: 100%;
              height: 100%;
              position: relative;
              display: flex;
              .featured-project-text {
                width: 70px;
                background-color: $blue;
                position: relative;
                h2 {
                  color: #ffffff;
                  transform-origin: 0 50%;
                  transform: rotate(-90deg);
                  white-space: nowrap;
                  position: absolute;
                  bottom: 0;
                  left: 50%;
                  margin-bottom: -1px;
                }
              }
              .project-text {
                padding-left: 20px;
                h2 {
                  color: $blue;
                  font-weight: bold;
                  margin: 20px 0 0 0;
                }
                .services-used {
                  color: $red;
                  font-size: 0.8rem;
                }
                p {
                  a {
                    text-decoration: none;
                    color: $blue;
                    font-weight: bold;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

#portfolio {
  //background-color: #f0ad4e;
  .bg {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("../images/portfolio-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    //img {
    //  height: 100vh;
    //  filter: drop-shadow(0 0 20px rgba(0,0,0,.3));
    //}
    z-index: 5;
  }
  .portfolio-cont {
    height: 100%;
    position: relative;
    display: flex;
    .slider {
      z-index: 6;
      position: absolute;
      top: 50%;
      left: 15%;
      transform: translateY(-50%);
      .slider-cont {
        width: 100%;
        height: 100%;
        position: relative;
        h1 {
          text-transform: uppercase;
          color: $blue;
          font-size: 3rem;
          text-align: left;
          margin: 0 0 20px 30px;
        }
        .portfolio-cards {
          position: relative;
          width: 400px;
          height: 300px;
          .portfolio-card {
            max-width: 400px;
            background-color: #ffffff;
            padding: 20px;
            box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
            position: absolute;
            opacity: 0;
            top: 0;
            transform: translateX(-100%);
            transition: 0.4s;
            transition-delay: 0.8s;
            will-change: transform, opacity;
            /*&.next {
              transform: translateY(100vh);
              opacity: 1;
            }
            &.prev {
              transform: translateY(-100vh);
              opacity: 1;
            }
            &.anext {
              transform: translateY(100vh);
            }
            &.aprev {
              transform: translateY(-100vh);
            }*/
            &.active {
              transform: translateX(0);
              opacity: 1;
            }
            h2 {
              color: $blue;
              font-weight: bold;
              margin: 0;
            }
            .services-used {
              color: $red;
              font-size: 0.8rem;
            }
            p {
              a {
                text-decoration: none;
                color: $blue;
                font-weight: bold;
              }
            }
          }
        }
        .portfolio-dots {
          height: 100%;
          width: 30px;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          margin-left: -30px;
          .portfolio-dots-cont {
            width: 100%;
            height: 100%;
            position: relative;
            .portfolio-arrow {
              position: absolute;
              width: 30px;
              height: 20px;
              background-image: url("../images/portfolio-arrow.svg");
              background-size: 100% 100%;
              left: 0;
              cursor: pointer;
              pointer-events: all;
              transition: opacity 0.3s;
              will-change: opacity;
              &.prev-work {
                top: 0;
                margin-top: -30px;
              }
              &.next-work {
                bottom: 0;
                margin-bottom: -30px;
                transform: rotate(180deg);
              }
              &.hidden {
                pointer-events: none;
                opacity: 0;
              }
            }
            .dots {
              width: 100%;
              height: 100%;
              position: relative;
              z-index: 6;
              i {
                width: 14px;
                height: 14px;
                background-color: $blue;
                border-radius: 100%;
                display: block;
                position: absolute;
                left: 50%;
                cursor: pointer;
                pointer-events: all;
                transition: 0.4s;
                transition-delay: 0ms;
                top: 50%;
                transform: translateX(-7px) translateY(-7px);
                will-change: transform;
                &.active {
                  width: 40px;
                  height: 40px;
                  background-color: $red;
                  transform: translateX(-20px) translateY(-20px);
                }
                &.next {
                  transform: translateX(-7px) translateY(calc(50% + 40px));
                }
                &.next2 {
                  transform: translateX(-7px) translateY(calc(50% + 80px));
                  opacity: 0.6;
                }
                &.next3 {
                  transform: translateX(-7px) translateY(calc(50% + 120px));
                  opacity: 0.2;
                }
                &.anext {
                  transform: translateX(-7px) translateY(100vh);
                  opacity: 0;
                  pointer-events: none;
                }
                &.prev {
                  transform: translateX(-7px) translateY(calc(50% - 70px));
                }
                &.prev2 {
                  transform: translateX(-7px) translateY(calc(50% - 110px));
                  opacity: 0.6;
                }
                &.prev3 {
                  transform: translateX(-7px) translateY(calc(50% - 150px));
                  opacity: 0.2;
                }
                &.aprev {
                  transform: translateX(-7px) translateY(-100vh);
                  opacity: 0;
                  pointer-events: none;
                }
              }
            }
          }
        }
      }
    }
    .portfolio-images {
      position: absolute;
      z-index: 3;
      right: 0;
      top: 0;
      height: 100vh;
      width: 100%;
      &-cont {
        position: relative;
        width: 100%;
        height: 100%;
        a {
          position: absolute;
          width: 100%;
          right: 0;
          top: 0;
          opacity: 0;
          z-index: -1;
          transition: opacity 0.4s ease-in-out 0.4s;
          will-change: opacity;
          height: 100%;
          text-align: right;
          img {
            position: absolute;
            right: 20px;
            max-height: 90%;
            max-width: 60%;
            top: 50%;
            transform: translateY(-50%);
          }
          &.active {
            opacity: 1;
            z-index: 3;
          }
        }
      }
    }
  }
}

#contacts {

  //background-color: red;
  background-color: #fff;
  .contact-back{
    position: absolute;
    left: -15%;
    z-index: -1;
  }
  .section-cont{
    display: grid;
    grid-template-columns: repeat(2,1fr)
  }
  .bg {
    min-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    img {
      height: 100vh;
      filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.3));
    }
  }
  .contacts-left {
    height: 100%;
    &-cont {
      position: relative;
      height: 100%;

      h1 {
        color: $red;
        margin-left: 130px;
        font-size: 4rem;
        text-transform: uppercase;
        padding-top: 100px;
        margin-left: 220px;
      }
      .social {
        margin-top: 70px;
        margin-left: 200px;
        z-index: 10000;
        a {
          color: $blue;
          margin: 0 20px;
          z-index: 20;
          font-size: 3rem;
          z-index: 5555;
          text-decoration: none;
        }
      }
      .telephone-email {
        position: absolute;
        width: 100%;
        z-index: 1;
        bottom: 165px;
        .telephone-email-cont {
          position: relative;
          z-index: 1;
          .contact-method {
            background-color: $red;
            padding-left: 100px;
            margin: 80px 0;
            position: relative;
            .method-icon-cont {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              .ic {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-color: #ffffff;
                position: relative;
                display: inline-block;
                box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
                img {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  animation: swing 2s ease-in-out infinite;

                }
              }
            }
            .text {
              color: #ffffff;
              text-decoration: none;
              font-size: 1.8rem;
              font-weight: bold;
              padding: 24px 80px 24px 120px;
              display: inline-block;
            }
            &.email {
              img {
                width: 30px;
              }
            }
            &.telephone {
              img {
                height: 35px;
                margin-left: -3px;
              }
            }
           
          }
        }
      }
      .download-link{
        overflow: hidden;
        position: absolute;
        bottom: 100px;
        z-index: 999;
        right: 0;
        background-color: #EB2233;
        text-decoration: none;
        display: inline-flex;
        p{
          color: #fff;
          padding: 20px 30px 20px 30px;
          margin: 0;
          font-size: 2rem;
          z-index: 2;
        }
        .icon{
          width: 74px;
          height: 74px;
          z-index: 2;
          position: relative;
          background-color: #1F324F;
          i{
            position: absolute;
            left: 50%;
            top: 50%;
            font-size: 2rem;
            z-index: 2;
            color: #ffffff;
            transform: translate(-50%,-50%);
          }
        }
      }
    }
  }
  .contacts-right {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    h2 {
      font-size: 4rem;
      color: $blue;
      font-weight: bold;
    }
    .mobile-form-btn {
      display: none;
      width: 100%;
      // display: flex;
      align-items: center;
      justify-content: center;
      a {
        padding: 7px 20px;
        text-decoration: none;
        background-color: $red;
        color: #ffffff;
        font-size: 1.4rem;
      }
    }
    form.ui-animated {
      width: 400px;
      position: relative;
      .final-message {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(#ffffff, 0.95);
        top: 0;
        left: 0;
        display: none;
        .cont {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
        }
      }
      .form-group {
        width: 100%;
        position: relative;
        margin: 20px 0;
        span {
          display: none;
        }
        input {
          -webkit-appearance: none;
          width: 100%;
          border: 2px solid rgba($blue, 0.01);
          background-color: rgba($blue, 0.15);
          font-family: $font;
          height: 35px;
          outline: none;
          padding: 0 15px;
          transition: 0.1s;
        }
        label {
          position: absolute;
          font-family: $font;
          font-size: 1rem;
          color: rgba($blue, 0.5);
          font-weight: bold;
          top: 50%;
          left: 15px;
          transform: translateY(-50%);
          pointer-events: none;
          transition: top 0.3s, left 0.3s, color 0.3s, background-color 0.3s;
        }
        textarea {
          -webkit-appearance: none;
          width: 100%;
          border: 2px solid rgba($blue, 0.01);
          background-color: rgba($blue, 0.15);
          font-family: $font;
          height: 80px;
          outline: none;
          padding: 5px 15px;
          transition: 0.1s;
          resize: none;
        }

        &.focused {
          input {
            border: 2px solid $blue;
            background-color: transparent;
          }
          label {
            top: 0;
            left: 50%;
            transform: translate(-50%, -10px);
            background-color: #ffffff;
            font-size: 0.8rem;
            padding: 0 5px;
            color: rgba($blue, 0.8);
          }
          textarea {
            border: 2px solid $blue;
            background-color: transparent;
          }
        }
        &.required {
          label {
            &::after {
              content: "*";
              font-size: 0.8rem;
              color: $red;
              margin-left: 5px;
              margin-top: -3px;
              display: inline-block;
            }
          }
        }
      }
      .btn-row {
        text-align: right;
        button {
          position: relative;
          font-family: $font;
          -webkit-appearance: none;
          border: none;
          background-color: $red;
          color: #ffffff;
          font-size: 1rem;
          font-weight: 500;
          height: 30px;
          padding: 0 40px 0 10px;
          transition: 0.3s;
          cursor: pointer;
          &::after {
            position: absolute;
            height: 30px;
            width: 30px;
            content: " ";
            background-color: $blue;
            top: 0;
            right: 0;
            background-image: url("../images/btn-submit-icon.svg");
            background-size: 15px 15px;
            background-position: center;
            background-repeat: no-repeat;
          }
          &:hover {
            background-color: $blue;
          }
        }
      }
    }
  }
}

#contacts-form {
  h2 {
    font-size: 3rem;
    color: $blue;
    font-weight: bold;
  }
  form.ui-animated {
    width: 400px;
    position: relative;

    .form-group {
      width: 100%;
      position: relative;
      margin: 20px 0;
      span {
        display: none;
      }
      input {
        -webkit-appearance: none;
        width: 100%;
        border: 2px solid rgba($blue, 0.01);
        background-color: rgba($blue, 0.15);
        font-family: $font;
        height: 35px;
        outline: none;
        padding: 0 15px;
        transition: 0.1s;
      }
      label {
        position: absolute;
        font-family: $font;
        font-size: 1rem;
        color: rgba($blue, 0.5);
        font-weight: bold;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        pointer-events: none;
        transition: top 0.3s, left 0.3s, color 0.3s, background-color 0.3s;
      }
      textarea {
        -webkit-appearance: none;
        width: 100%;
        border: 2px solid rgba($blue, 0.01);
        background-color: rgba($blue, 0.15);
        font-family: $font;
        height: 80px;
        outline: none;
        padding: 5px 15px;
        transition: 0.1s;
        resize: none;
      }

      &.focused {
        input {
          border: 2px solid $blue;
          background-color: transparent;
        }
        label {
          top: 0;
          left: 50%;
          transform: translate(-50%, -10px);
          background-color: #ffffff;
          font-size: 0.8rem;
          padding: 0 5px;
          color: rgba($blue, 0.8);
        }
        textarea {
          border: 2px solid $blue;
          background-color: transparent;
        }
      }
      &.required {
        label {
          &::after {
            content: "*";
            font-size: 0.8rem;
            color: $red;
            margin-left: 5px;
            margin-top: -3px;
            display: inline-block;
          }
        }
      }
    }
    .btn-row {
      text-align: right;
      button {
        position: relative;
        font-family: $font;
        -webkit-appearance: none;
        border: none;
        background-color: $red;
        color: #ffffff;
        font-size: 1rem;
        font-weight: 500;
        height: 30px;
        padding: 0 40px 0 10px;
        transition: 0.3s;
        cursor: pointer;
        &::after {
          position: absolute;
          height: 30px;
          width: 30px;
          content: " ";
          background-color: $blue;
          top: 0;
          right: 0;
          background-image: url("../images/btn-submit-icon.svg");
          background-size: 15px 15px;
          background-position: center;
          background-repeat: no-repeat;
        }
        &:hover {
          background-color: $blue;
        }
      }
    }
  }
}

.sections-control-btns {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  &-cont {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    a {
      display: flex;
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      text-decoration: none;
      color: $red;
      align-items: center;
      justify-content: center;
      top: 50%;
      transform: translateY(-50%);
      background-color: #fff;
      z-index: 20;
      margin: 0 30px;
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
      transition: background-color 0.2s;
      cursor: pointer;
      pointer-events: all;
      img {
        width: 25px;
        height: 25px;
        margin-left: -3px;
      }
      &.next {
        right: 0;
        img {
          transform: rotate(180deg);
          margin-left: 0;
          margin-right: -3px;
        }
      }
      &.prev {
        margin-right: 3px;
      }
      &:hover {
        background-color: darken(#ffffff, 3%);
      }
      &.hidden {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}

.modal {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
  display: none;
  .modal-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
      background-color: #fff;
      position: relative;
      padding: 15px 10px;
      .modal-close {
        width: 30px;
        height: 30px;
        border-radius: 100px;
        background-color: $red;
        color: $blue;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 2rem;
        transform: translate(-15px, -15px);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
          background-color: darken(#fff, 3%);
        }
      }
      form.ui-animated {
        width: 100%;
        position: relative;
        .final-message {
          width: 100%;
          height: 100%;
          position: absolute;
          background-color: rgba(#ffffff, 0.95);
          top: 0;
          left: 0;
          display: none;
          .cont {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
          }
        }
        .form-group {
          width: 100%;
          position: relative;
          margin: 20px 0;
          span {
            display: none;
          }
          input {
            -webkit-appearance: none;
            width: 100%;
            border: 2px solid rgba($blue, 0.01);
            background-color: rgba($blue, 0.15);
            font-family: $font;
            height: 35px;
            outline: none;
            padding: 0 15px;
            transition: 0.1s;
          }
          label {
            position: absolute;
            font-family: $font;
            font-size: 1rem;
            color: rgba($blue, 0.5);
            font-weight: bold;
            top: 50%;
            left: 15px;
            transform: translateY(-50%);
            pointer-events: none;
            transition: top 0.3s, left 0.3s, color 0.3s, background-color 0.3s;
          }
          textarea {
            -webkit-appearance: none;
            width: 100%;
            border: 2px solid rgba($blue, 0.01);
            background-color: rgba($blue, 0.15);
            font-family: $font;
            height: 80px;
            outline: none;
            padding: 5px 15px;
            transition: 0.1s;
            resize: none;
          }

          &.focused {
            input {
              border: 2px solid $blue;
              background-color: transparent;
            }
            label {
              top: 0;
              left: 50%;
              transform: translate(-50%, -10px);
              background-color: #ffffff;
              font-size: 0.8rem;
              padding: 0 5px;
              color: rgba($blue, 0.8);
            }
            textarea {
              border: 2px solid $blue;
              background-color: transparent;
            }
          }
          &.required {
            label {
              &::after {
                content: "*";
                font-size: 0.8rem;
                color: $red;
                margin-left: 5px;
                margin-top: -3px;
                display: inline-block;
              }
            }
          }
        }
        .btn-row {
          text-align: right;
          button {
            position: relative;
            font-family: $font;
            -webkit-appearance: none;
            border: none;
            background-color: $red;
            color: #ffffff;
            font-size: 1rem;
            font-weight: 500;
            height: 30px;
            padding: 0 40px 0 10px;
            transition: 0.3s;
            cursor: pointer;
            &::after {
              position: absolute;
              height: 30px;
              width: 30px;
              content: " ";
              background-color: $blue;
              top: 0;
              right: 0;
              background-image: url("../images/btn-submit-icon.svg");
              background-size: 15px 15px;
              background-position: center;
              background-repeat: no-repeat;
            }
            &:hover {
              background-color: $blue;
            }
          }
        }
      }
    }
  }
}

@import "media_queries";
@import "effect";
